<app-header></app-header>
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span> Why Do It</span>
            <h1>greatnees doesn't wait  for good conditions.</h1>
        </div>
        <img ngSrc="/assets/principal.png" width="600" height="500">
    </section>

    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
                Trunner<br>O/S
            </h2>
        </div>
        <p> When you want to be as <b>comfortable</b> as you feel.</p>
    </section>
    <section>
        <app-btn-primary class="add"></app-btn-primary>
    </section>
</main>