<app-header></app-header>
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span> WHY DO IT</span>
            <h1>Greatnees doesn't wait for good conditions.</h1><br>
            <app-btn-primary></app-btn-primary>
        </div>
        <img ngSrc="/assets/nike-air.png" width="600" height="500">
    </section>

    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h3>
                Nike Air<br>Max 95
            </h3>
        </div>
        <p> The AM95 doesn’t follow <b>trends</b> it sets them..</p>
    </section>
    <section>
        <app-btn-primary class="add"></app-btn-primary>
    </section>

    <section class="features-section pad-70">

        <div class="feature">
            <h3>Visible Air Units</h3>
            <p>Responsive cushioning in heel and forefoot.</p>
        </div>

        <div class="feature">
            <h3>Iconic Design</h3>
            <p>Inspired by human anatomy and street culture</p>
        </div>

        <div class="feature">
            <h3>Built to Last</h3>
            <p>Premium materials designed for durability.</p>
        </div>
    </section>
    <section class="collection pad-70">
        <h2>Popular Picks</h2>

        <div class="collection-grid">
            <img src="/assets/shoe-1.png">
            <img src="/assets/shoe-2.png">
            <img src="/assets/shoe-3.png">
        </div>

    </section>

    <section class="manifesto pad-70">
        <h2>Just Do It.</h2>
        <p>
            Sport is not about being better than someone else.
            It’s about being better than you used to be.
        </p>
    </section>

    <footer class="footer">
        <p>© 2026 Nike Concept. Designed for portfolio.</p>
    </footer>


</main>